.blinking {
    animation: blinkingText 1.2s infinite;
    color: red;
}

@keyframes blinkingText {
    0% {
        color: red;
    }
    49% {
        color: red;
    }
    60% {
        color: red;
    }
    99% {
        color: transparent;
    }
    100% {
        color: red;
    }
}
